<p style="color: green"><%= notice %></p>

<%= render @gift %>

<div>
  <%= link_to "Edit this gift", edit_gift_path(@gift) %> |
  <%= link_to "Back to gifts", gifts_path %>

  <%= button_to "Destroy this gift", @gift, method: :delete %>
</div>
